/*applies to all-----------------------------------*/
*{
    box-sizing: border-box;
    max-width: 960px;
    margin: auto;
    font-family: Cambria;
}

/*nav and header (applies to all pages)------------*/
header{
    background-color: #294848; 
    color: #ffffff;
    border: 1px solid black;
    padding: 15px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0px 2px 5px black;
    font-family: Garamond;
}
h2{
    padding: 10px;
    font-family: Cambria;
    margin-left: 10px;
}
h3{
    padding: 10px;
}
.navgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 0px;
}
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 10px 0px;
    border: 2px solid #60a4a3;
}
nav ul {
    padding: 2px;
    background-color: #60a4a3;
    box-shadow: 0px 2px 5px black;
}
a.navtext:link {
    font-family: Garamond;
    text-decoration: none;
    font-size: 22px;
    color: white;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
}
a.navtext:visited {
    text-decoration: none;
    font-size: 22px;
    color: white;
}
li.navlinks:hover {
    border: 2px solid #006272;
    background-color: #66bbbb;
}

/*main and body------------------------------------*/
main{
    background-color: #c8dfdf;
    padding: 20px;
    padding-bottom: 50px;
    overflow: hidden;
}
body{
    font-size: 18px;
    background-color: #f0f0f0;
}
p{
    margin: 10px;
}

/*links--------------------------------------------*/
a:link {
    color:#0083ff;
    text-decoration:none;
}
a:visited {
    color:#8850ff;
}
a:hover {
    color: darkcyan;
    text-decoration:underline;
}

/*About Me-----------------------------------------*/
.tooltip {
    float:left;
    margin: 15px;
    position:relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    background-color: #60a4a3;
    color: #fff;
    padding: 10px 7px;
    font-size: 15px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.picone{
    padding: 10px;   
    grid-area: one;
    margin-bottom: -10px;
}
.pictwo{
    padding: 10px;   
    grid-area: two;
    margin-top: -10px;
}
.aboutmetext{
    padding: 10px;   
    grid-area: text;
    margin-right: 20px;
}
.gridwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "one text text text text"
        "two text text text text";
}
/*Writing------------------------------------------*/
a.button:link {
    color: #0083ff;
    border: 1px solid #0083ff;
    background-color: #f7fbfd;
    padding: 10px;
    position:relative;
    bottom: 19px;
    border-radius: 10px;
    text-decoration: none;
}
a.button:visited {
    color:#8850ff;
    border: 1px solid #8850ff;
    background-color: #f8f4fb;
}
a.button:hover {
    color: darkcyan;
    border: 1px solid darkcyan;
    background-color: #f5fff5;
}
a.button:active {
    color: deepskyblue;
}
.writingblurb {
    border-style: dashed;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    padding: 20px;
}

.biochem{
    width: 50%;
    float: left;
}
.philosophy{
    width: 50%;
    float: right;
}

.biochem{
    grid-area: biochem;
    padding: 10px;
}
.philosophy{
    grid-area: philosophy;
    padding: 10px;
}

/*Resume-------------------------------------------*/
.resumeheader{
    color: #ffffff;
    background-color: #60a4a3;
    padding: 10px;
    margin: 10px;
}

/*Programming--------------------------------------*/
/*see Writing for buttons*/
li{
    padding-bottom: 6px; 
}
ol.writingblurb{
    padding-left: 40px;
}
img{
    float:left;
    clear:left;
}
/*Contact me---------------------------------------*/
.indent{
    margin-left: 20px;
    margin-right: 20px;
    border-style: dashed;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    padding: 20px;
}






